version: '3.7'
services:
  couchbase:
    image: couchbase:community
    environment:
      - COUCHBASE_ADMINISTRATOR_USERNAME=admin
      - COUCHBASE_ADMINISTRATOR_PASSWORD=password
      - COUCHBASE_BUCKET=my_bucket
      - COUCHBASE_RAMSIZE=512
    ports:
      - "8091:8091"  # Couchbase Web UI
      - "8092:8092"  # Query service
      - "8093:8093"  # Index service
      - "8094:8094"  # Full-text search service
      - "11210:11210" # Data service
